    /* Center the control arrows vertically */
    .carousel-control-prev, .carousel-control-next {
        top: 50%;
        transform: translateY(-50%);
        background-color:#1d2d44;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-align: center;
        line-height: 40px;
        font-size: 18px;
        margin-left: 10px;
        margin-right: 10px;
    }

    /* Center the circular customer image */
    .customer-card img {
        width: 250px;
        height: 250px;
        object-fit: cover;
        border-radius: 50%;
        display: block;
        margin: 0 auto;
    }
    

    /* Style the Customer Card Container */
    .customer-card {
        text-align: center;
        background: #a8a8a8;
        padding: 20px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    }

    /* Style the Carousel Control Arrows on hover */
    .carousel-control-prev:hover, .carousel-control-next:hover {
        background-color:#0d1321 ; 
    }
      /* Customizing text color and aligning  it center */
    .customer-card {
        text-align: center; 
        color: #333;
    }
 
    .customer-card h3 {
        font-size: 20px; 
        margin: 10px 0; 
    }
    
    .customer-card p {
        font-size: 16px; 
    }
    .customer-reviews {
        margin-top: 10px;
        text-align: center;
        padding: 20px 0;
        background-color: #333;
        color: #fff;
        font-size: 24px;
        font-weight: bold;
        
    }
    
    